<footer>
  <div class="footer-content">
    <h2 class="footer-information">Information</h2>
    <ul>
      <li class="footer-lists">ご利用ガイド</li>
      <li class="footer-lists">お問い合わせ</li>
      <li class="footer-lists">会社概要</li>
      <li class="footer-lists">プライバシーポシシー</li>
    </ul>
  </div>
  <div class="footer-bottom">
    <h3 class="footer-home-link">Cafe-app</h3>
    <p>©︎cafe-app</p>
  </div>
</footer>