<header> 
  <div class="app-title">
    <h2 class="title"><i><b>Cafe-app</b></i></h2>
  </div>

  <div class="navi-bar">
    <ul class="navi-button-left">
      <li class="navi-list">online store</li>
      <li class="navi-list">cafe</li>
      <li class="navi-list"><%= link_to "news", posts_path, class: "navi-news-link"%></li>
      <li class="navi-list">about</li>
    </ul>
    <ul class="navi-button-right">
      <li class="navi-list">会員登録</li>
      <li class="navi-list">ログイン</li>
    </ul>
  </div>
</header>