<div class="about-page">
  <div class="about-top-pic-wrap">
    <%= image_tag "about-top-pic.png", class: "about-top-pic" %>
    <p class="about-top-title">ABOUT US</p>
  </div>
  <div class="about-text-contents">
    <div class="first-text">
      <p>
      cafe-appコーヒーではグリーンビーンバイヤー（生豆のバイヤー）が季節ごとに旬のコーヒーを吟味し、最もおいしいとされるコーヒー豆を世界中から買い付けています。そして、そのコーヒー豆が持つ個性を最大限に引き出すべく、コーヒー豆の種類に応じたレシピを使用して自社のロースタリーで焙煎しています。<br>
      焙煎後は、豆ごとに測定したピークフレーバー期間（おいしさが最も際立つ期間）内にコーヒーをお楽しみいただけるよう、フレッシュな豆のみをロースタリーからカフェに配送。そして、熟練のバリスタが一杯ずつ丁寧に抽出し、風味豊かなコーヒーをお届けしています。
      </p>
    </div>
    <div class="second-text-wrap">
      <div class="second-text-left">
        <%= image_tag "about-second-pic.png", size: "420x350"  %>
      </div>
      <div class="second-text-right">
      <p>
        私たちは、世界中の農家と直接契約を結び、最も美味しくサステイナブルなコーヒーを調達しています。そしてそのコーヒーを私たちのターゲットフレーバーに焙煎し、最も美味しいピーク期間に提供し、スタッフとのフレンドリーな会話やアドバイスと共に楽しんでいただきたいと思っています。
      </p>
      </div>
    </div>
    <div class="third-text-wrap">
      <div class="third-text-left">
        <p>
          また、カフェではもちろん、ご自宅でもおいしいコーヒーをお楽しみください。ヘイズバレーエスプレッソは焙煎後、4日目から7日目の間にお試しいただくのがベストであるように、私たちが実践するピークフレーバー期間をまとめた以下のチャートを参考にしながらフレッシュな豆を使用すれば、洗練されたポアオーバーを淹れることができるでしょう。
        </p>
      </div>
      <div class="third-text-right">
        <%= image_tag "about-third-pic.png", size: "420x350"  %>
      </div>
    </div>
    <p>（BLUE BOTTLE COFFEE ホームページより文章引用）</p>
  </div>
</div>