<%= render "shared/header" %>

<main>
  <div class="home-pic-space">
    <%= image_tag "home-pic.png", class:"home-pic" %>
  </div>
  <div>NEWS
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
  <div>link
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>

  </div>
  
</main>

<%= render "shared/footer" %>