<%= render "shared/header" %>

<main>
  <div class="home-pic-space">
    <%= image_tag "home-pic.png", class:"home-pic" %>
  </div>
  
  <div class="news-contents">
    <h2 class="news-title">NEWS</h2>
    
    <div class="news-lists">
      <%= render partial: 'posts/post', collection:@posts %>
    </div>
    
  </div>

  <div>link
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>

  </div>
  
</main>

<%= render "shared/footer" %>