<div class="store-page">
  <h2 class ="store-title">STORE</h2>
  <div class="store-pic-wrap">
    <%= image_tag "store-pege-pic.png", size: "713x506"%>
  </div>
  <div class="store-place-wrap">
      <p>（※デモAPPのため東京駅の住所）<br>
        〒100-0005<br>
        東京都千代田区丸の内１丁目<br>
        東京駅より徒歩１０分</P>
  </div>
  <div class="store-map-wrap">
    <iframe class="store-map", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.828030380878!2d139.76493611524677!3d35.68123618019435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1629065783092!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>