.post-top{
margin: 50px 0;
}

.post-top-title{
  text-align: center;
  font-size: 27px;
  padding: 20px 0;
  color: gray;
}

.post-main-contents{
  width: 70%;
  margin: 0 auto ;
}

.post-main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



