.post-form {
  width: 70%;
  margin: 50px auto 0;
}

.post-header{
  margin-top: 30px;
}

.post-title{
  font-size: 27px;
  text-align: center;
  margin-bottom: 40px;
  color: gray;
}

.field{
  margin: 30px 0px;
}

.title-form{
  width: 70%;
  margin-top: 5px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.text-form{
  width: 100%;
  margin-top: 5px;
  height: 500px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 15px;
}

.post-submit-btn-box{
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.post-submit-btn{
  background-color: dodgerblue;
  color: white;
  width: 150px;
  height: 70px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.post-back-btn-box{

  text-align: center;
}

.post-back-btn{
  text-decoration: none;
  color: gray;
  line-height: 80px;
}

.select-box{
  width: 150px;
  height: 50px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: #fff;
}