.sessions-wrap{
  width: 50%;
  margin: 0 auto;
}

.sessions-title{
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 27px;
  margin-top: 50px;
}

.sessions-title-text{
  line-height: 100px;
  color: gray;
}

.sessions-btn{
  width: 20%;
  margin: 40px auto 20px;
}

.sessions-blue-btn{
  background-color: dodgerblue;
  border: none;
  color: white;
  line-height: 60px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.login-flash-message{
  color: red;
  text-align: center;
}
